html, body, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

li {
    text-align: center;
}

html, body {
  height: 100%;
}

.firefly-font-heading {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    float: none;
    clear: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: FashionFetishRegular, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color: black;
}

.firefly-slogan-heading {
    position: static;
    /* display: -webkit-box; */
    /* display: -webkit-flex; */
    /* display: -ms-flexbox; */
    display: flex;
    margin-top: 0px;
    margin-bottom: 10px;
    float: none;
    clear: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: FashionFetishRegular, sans-serif;
    font-size: 18px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color: black;
    padding-bottom: 0px;
    padding-top: 0px;
}





/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}

label {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #efefef;
    color: black;
    box-shadow: 0 1px 3px 0 #165cff;
}

label:hover {
    box-shadow: inset 0 -1px 3px 0 #000, inset 1px 1px 3px 0 #000;
}

input[type="checkbox"] {
    display: none;
}

#sidebar {
    position: fixed;
    left: -50rem;
    height: max-content;
    width: max-content;
    background-color: #e7e7e7;
    transition-property:all;
    transition-timing-function:ease;
    transition-duration: 1s;
    flex-shrink: 4;
    color: black;
    border-radius: 0 0 10px 0;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 1px 1px 3px 0 #165cff, 1px 1px 3px 0 #165cff;
}



input[type="checkbox"]:checked + #sidebar {
    left: 0;
    top: 0;
}



ol {
    margin-top: 4rem;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    font-size:0.9em;
    padding-left: 0px;
}

img {
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

a{
  text-decoration: none;
  color: black;
  text-align: center;
  border-top: 1px solid #165cff40;
  display: block;
  padding: 30px;
}


a:hover{
    box-shadow: inset 0 -1px 3px 0 #165cff, inset 1px 1px 3px 0 #165cff;
}




li:last-child{
  color:black;
  font-size: 1em;
  }

li:nth-child(6){
  color:black;
  font-size: 1.0em;
  padding: 30px 0;
}

#progress{
  display: flex;
  flex-flow: column nowrap;
}

h2 {
  color: deepskyblue;
  padding-top: 20px;
  padding-bottom: 40px;
}


span{
  display: block;
}

.bar {
  height: 20px;
  margin: 60px 50px 60px 50px;
  background: #555;
  border-radius: 25px;
  padding: 10px;
  width:40%;
}
.bar > span {
  display: block;
  height: 100%;
    border-radius: 25px 25px 25px 20px;
    position: relative;
}


.green > span {
  background-image: -webkit-linear-gradient(#3CB371, #3CBBAA);
}

.progress1 {
  box-sizing: border-box;
  width: 100%;
}

.column {
  float: left;
  width: 50%;
  height: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.row {
  float: right;
  width: 25%;
}

.slides {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  background-color: black;
}

.slides2 {
  position: relative;
  background-color: whitesmoke;
  margin: auto;
  padding: 0;
  width: 70%;
  max-width: 900px;
}

.close {
  color: white;
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  margin: auto;
  text-align: center;
}

.prev, .next {
  position: absolute;
  top: 50%;
  padding: 1em;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  transition: 1s ease-out;
  cursor: pointer;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.textnum {
  color: gray;
  font-size: 1em;
  padding: 6px 10px;
  position: absolute;
}

.captions {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.slideImage {
  opacity: 0.7;
  text-align: center;
}

.active, .slideImage:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.6s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
  width: 65%;
}

.image2 {
  margin-top: 50px;
  width: 60%;
}

.col {
  float: left;
  margin-left: 15%;
  width: 10%;
}

.wrapper {
  position: relative;
  display: inline-block;
}



.hovertext {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100%;
  height: 128px;
  width: 128px;
  opacity: 0;
  transition: 1s ease;
  background-color: gold;
}

.wrapper:hover .hovertext {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}



@font-face {
    font-family: 'Opendyslexic3';
    src: url('../fonts/OpenDyslexic3-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Opendyslexic3';
    src: url('../fonts/OpenDyslexic3-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FashionFetishRegular';
    src: url('../fonts/FashionFetishRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fashionfetishoutline';
    src: url('../fonts/FashionFetishOutline.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FashionFetishLight';
    src: url('../fonts/FashionFetishLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FashionFetishLightItalic';
    src: url('../fonts/FashionFetishLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FashionFetishItalic';
    src: url('../fonts/FashionFetishItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Fashionfetishsmallcaps';
    src: url('../fonts/FashionFetishSmallCaps.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FashionFetishBold';
    src: url('../fonts/FashionFetishBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FashionFetishHeavy';
    src: url('../fonts/FashionFetishHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}