#progress{
  list-style: none;
  background: linear-gradient(to right, #f77f00, #cc0000);

}

a{
  text-decoration: none;
  padding: 20px 0;
  color: white;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid gray;
}

a:hover{
  background: #d68617;
}

a:last-child{
  border-bottom: none;
}
