* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}


.inline-block {
  max-width: 100%;
  display: inline-block;
}

.button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}
input.button {
  -webkit-appearance: button;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
button,
html input[type="button"],
input[type="reset"] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
}
.form {
  margin: 0 0 15px;
}
.form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}
.form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.input,
.select {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.input:-moz-placeholder,
.select:-moz-placeholder {
  color: #999;
}
.input::-moz-placeholder,
.select::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.input:-ms-input-placeholder,
.select:-ms-input-placeholder {
  color: #999;
}
.input::-webkit-input-placeholder,
.select::-webkit-input-placeholder {
  color: #999;
}
.input:focus,
.select:focus {
  border-color: #3898EC;
  outline: 0;
}
.input[disabled],
.select[disabled],
.input[readonly],
.select[readonly],
fieldset[disabled] .input,
fieldset[disabled] .select {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea.input,
textarea.select {
  height: auto;
}
.select {
  background-color: #f3f3f3;
}
.select[multiple] {
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.container:after {
  clear: both;
}
.container .row {
  margin-left: -10px;
  margin-right: -10px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.row:after {
  clear: both;
}
.row .row {
  margin-left: 0;
  margin-right: 0;
}
.col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.col .col {
  padding-left: 0;
  padding-right: 0;
}

.col-2 {
  width: 16.66666667%;
}

.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .col-medium-4 {
    width: 33.33333333%;
  }

  .col-stack {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 767px) {
  .row,
  .container .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col {
    width: 100%;
    left: auto;
    right: auto;
  }

  .col-small-4 {
    width: 33.33333333%;
  }

}
@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .col {
    width: 100%;
  }

  .col-tiny-4 {
    width: 33.33333333%;
  }

}


.dropdown {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 900;
}

.dropdown-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  padding-right: 40px;
}

.dropdown-list {
  position: absolute;
  background: #dddddd;
  display: none;
  min-width: 100%;
}

.dropdown-link {
  padding: 10px 20px;
  display: block;
  color: #222222;
}
.dropdown-link.-current {
  color: #0082f3;
}


.nav {
  position: relative;
  background: #dddddd;
  z-index: 1000;
}
.nav:before,
.nav:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.nav:after {
  clear: both;
}

.nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.nav-link.-current {
  color: #0082f3;
}
.nav-menu {
  position: relative;
  float: right;
}
[data-nav-menu-open] {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #C8C8C8;
  text-align: center;
  overflow: visible;
  min-width: 200px;
}

.nav-overlay [data-nav-menu-open] {
  top: 0;
}

.nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav[data-collapse="all"] .nav-menu {
  display: none;
}
.nav[data-collapse="all"] .nav-button {
  display: block;
}

@media screen and (max-width: 991px) {
  .nav[data-collapse="medium"] .nav-menu {
    display: none;
  }
  .nav[data-collapse="medium"] .nav-button {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .nav[data-collapse="small"] .nav-menu {
    display: none;
  }
  .nav[data-collapse="small"] .nav-button {
    display: block;
  }
}
@media screen and (max-width: 479px) {
  .nav[data-collapse="tiny"] .nav-menu {
    display: none;
  }
  .nav[data-collapse="tiny"] .nav-button {
    display: block;
  }
}




