html, body, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}


label {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    border: .3rem solid darkblue;
    border-radius: 1rem;
    background-color: rgba(0,191,255, 0.6);
    color: whitesmoke;
}

label:hover {
    background-color: royalblue;
}

input[type="checkbox"] {
    display: none;
}

#sidebar {
    position: fixed;
    left: -50rem;
    height: 100vh;
    width: 28vw;
    background-color: rgba(0,191,255, 0.6);
    transition-property:all;
    transition-timing-function:ease;
    transition-duration: 1s;
    flex-shrink: 4;

}

input[type="checkbox"]:checked + #sidebar {
    left: 0;
    top: 0;
}

ol {
    margin-top: 4rem;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    font-size:0.9em;
}

a{
  text-decoration: none;
  padding: 30px 0;
  color: white;
  text-align: left;
  border-top: 1px solid whitesmoke;
  display: block;
}

a:hover{
  background: royalblue;
}

li:last-child{
  color:whitesmoke;
  font-size: 1em;
  }

li:nth-child(5){
  color:whitesmoke;
  font-size: 1.0em;
  padding: 30px 0;
}

#progress{
  display: flex;
  flex-flow: column nowrap;
}

h2{
  color: deepskyblue;
  padding-top: 20px;
  padding-left: 20px;
}


span{
  display: block;
}

.bar {
  height: 20px;
  margin: 60px 50px 60px 50px;
  background: #555;
  border-radius: 25px;
  padding: 10px;
  width:40%;
}
.bar > span {
  display: block;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 20px;
  position: relative;
}


.green > span {
  background-image: -webkit-linear-gradient(#3CB371, #3CBBAA);
